* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
hr {
  margin: 0;
  padding: 0;
}

.body {
  --main-color: #00466F;
  --second-color: #1799E5;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.header {
  color: #fff;
  background-color: var(--main-color);
  padding: 10px;
  
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding: 0 15px;
}
// якщо ставлю флекс на клас хедер чи мейн форм - то нічого не працює?!

.logo {
  width: 165px;
  height: 40px;
  margin-right: 200px;
  // просто взяла 200, якщо 295 то все ламається
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav__item {
  color: #fff;
  text-decoration: none;
}

.nav__main-type::after {
  // content: "";
  // margin-left: 5px;
  // transform: rotate(135deg);
  // width: 5px;
  // height: 5px;
  // border-top: 2px solid;
  // border-right: 2px solid;
  // transition: transform .2s;
  // transform-origin: 50% 40%;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  content: "";
  margin-left: 5px;
}

.nav__main-type:hover {
  color:#FDC420;
  cursor: pointer;
}

.nav__main-type:hover::after {
  border: solid #FDC420;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  content: "";
  margin-left: 5px;
  transition: 0.5s;
}

.dropdown {
  position: relative;
  display: none;
}
.dropdown__list {
  margin-top: 5px;
  margin-left: -10px;
  list-style: none;
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.dropdown__link {
  color: var(--main-color);
  text-decoration: none;
  padding: 10px;
  width: fit-content;
  white-space: nowrap;
}

.nav__main-type:hover .dropdown {
  display: inline-block;
}

.header__login {
  text-transform: uppercase;
  color: #FDC420;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0 30px;
}

.header__login--image--position {
  padding-right: 5px;
  width: 20px;
  height: 14.5px;
}

.order-button {
  background: #FF7800;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  width: 143px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
// не міняється шрифт тексту кнопки!!!


.main-form {
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  display: flex;
  gap: 20px;
  padding: 60px;
}

.main-form__image {
  width: 480px;
  height: 400px;
}

.main-form__title {
  font-size: 45px;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  width: 670px;
}

.main-form__title--highlight {
  color: #FDC420;
}

.form__agree-terms {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  width: 630px;
}

.form {
  background: var(--main-color);
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

select {
  color: #737B80;
}

option {
  color: #222526;;
}

option[default] {
  display: none;
}

.form__select {
  padding: 15px;
  background: #F2F9FF;
  border: 1px solid #E6F2FF;
  border-radius: 5px;
  margin-right: 10px;
}

.form__email {
  padding: 15px;
  background: #F2F9FF;
  border: 1px solid #E6F2FF;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.form__button {
  padding: 15px 30px;
  width: 193px;
  height: 50px;
  display: inline-block;
}
// треба задавати ширину і висоту кнопкам ?
// як правильно скачувати картинки з фігми ? в 4х? якість щоб була гуд

.pages {
  background: #E6F2FF;
  padding: 15px 135px 0px;
}

.pages__list {
  display: flex;
  justify-content: center;
}

.pages__img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.pages__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:10px 35px;
  width: 220.08px;
}

.pages__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: var(--main-color);
  text-decoration: none;
  display: block;
}

.pages__item :hover {
  color: var(--second-color);
}
// це для ховер чи ектів? додати підкреслення ще! і картинка теж міняє колір?

.rating {
    padding: 20px 0;
}

.rating__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rating__platform {
  color: var(--second-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}

.rating__div {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.rating__logo {
  width: 30px;
    height: 30px;
}

.rating__star {
  width: 58px;
    height: 10px;
}

.rating__number {
  font-weight: 400;
    font-size: 45px;
    line-height: 55px;
  color: var(--main-color);
}

.experts {
  display: flex;
  flex-direction: column;
}
.writers{
  display: flex;
  justify-content: center;
}

.experts__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  margin: 60px 0 30px;
  display: block;
}

.writer__block {
  width: 323.33px;
  height: 460px;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
  border-radius: 7px;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 15px;
  padding: 20px;
}

.writer__block:not(last-child) {
  margin-right: 30px;
}


.writer__info {
  display: grid;
  grid-template-columns: 80px 190px;
  column-gap: 15px;
}
.writer__text {
  display: grid;
  grid-template-rows: auto auto auto;
}

.writer__pic {
  height: 80px;
  border-radius: 5px;
}

.writer__name {
  color: var(--main-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.writer__orders {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #222526;
}
.writer__stats {
  display: flex;
}

.writer__stars {
  width: 87px;
  height: 15px;
  margin-right: 10px;
}

.writer__rate {
  font-size: 12px;
  line-height: 15px;
  color: var(--main-color);
  margin-right: 5px;
}

.writer__reviews {
  font-size: 12px;
  line-height: 15px;
  color: #737B80;
}

.writer__expertize-block {
  display: grid;
  grid-template-columns: auto auto;
}

.writer__name-of-article {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color:var(--main-color);
}

.writer__main-types {
  font-size: 12px;
  line-height: 15px;
  color: #ACB8BF;
}

.writer__specialization {
  font-size: 14px;
  line-height: 20px;
  color: #222526;
  display: block;
  padding-bottom: 20px;
}

.writer__sample-pic {
  background-image: url(images/sample.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 125px;
  height: 180px;
  background-size: cover;
  position: relative;
}

.writer__sample-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--second-color);
  text-decoration-line: underline;
  position: absolute;
  bottom: 10px;
  left: 20px;
  
}

.writer__expertize-block--style-position {
  display: grid;
  grid-template-columns: auto auto;
}

hr {
   width: 283.33px;
  border: 1px solid #DFE6EB;
 }
//  лінія - підкреслення

.writer__button {
  width: 283.33px;
}