* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

.body {
  --main-color: #00466F;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: var(--main-color);
  padding: 10px;
}

.logo {
  width: 165px;
  height: 40px;
}



.nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__item {
  color: #fff;
  text-decoration: none;
}

.header__login {
  text-transform: uppercase;
  color: #FDC420;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.header__login--image--position {
  padding-right: 5px;
  width: 20px;
  height: 14.5px;
}

.order-button {
  background: #FF7800;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  width: 143px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
// не міняється шрифт тексту кнопки!!!

.main-form {
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  display: flex;
  gap: 20px;
  padding: 60px;
}

.main-form__image {
  width: 480px;
  height: 400px;
}

.main-form__title {
  font-size: 45px;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  width: 670px;
}

.main-form__title--highlight {
  color: #FDC420;
}

.form__agree-terms {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  width: 630px;
}

.form {
  background: var(--main-color);
  border-radius: 6px;
  padding: 20px;
  display: block;
}

select {
  color: #737B80;
}

option {
  color: #222526;;
}

option[default] {
  display: none;
}

.form__select {
  padding: 15px;
  background: #F2F9FF;
  border: 1px solid #E6F2FF;
  border-radius: 5px;
  margin-right: 10px;
}

.form__email {
  padding: 15px;
  background: #F2F9FF;
  border: 1px solid #E6F2FF;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.form__button {
  padding: 15px 30px;
  width: 193px;
  height: 50px;
}
// треба задавати ширину і висоту кнопкам ?
// як правильно скачувати картинки з фігми ? в 4х? якість щоб була гуд
.pages {
  background: #E6F2FF;
  padding: 15px 135px 0px;
}


.pages__list {
  display: flex;
  justify-content: center;
}

.pages__img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
}

.pages__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding:10px 35px;
  width: 220.08px;
}

.pages__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: var(--main-color);
  text-decoration: none;
  display: block;
}

.pages__item :hover {
  --second-color: #1799E5;
}
// це для ховер чи ектів? додати підкреслення ще! і картинка теж міняє колір ?

.rating__platform {
  color: var(--main-color);
}

.rating__logo {
  width: 30px;
    height: 30px;
}

.rating__star {
  width: 58px;
    height: 10px;
}