* {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
hr {
  margin: 0;
  padding: 0;
}

.body {
  --main-color: #00466F;
  --second-color: #1799E5;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #FFFFFF;
}

.header {
  padding: 10px;
  color: #fff;
  background-color: var(--main-color);

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__log-link {
    color: #FDC420;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
  }
  &__log-image {
    display: inline;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
  }

  &__login {
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      .header__log-link {
        color: #bddebd;
      }
      svg path {
      fill: #bddebd;
      }
    }
  }
  &__find {
    display: none;
  }
  &__menu {
    display:none;
  }
  &__right-ipad {
    display: flex;
    align-items: center;
  }
    @media (max-width:1156px) {
      &__login {
        display: none;
      }
      &__find {
        display: flex;
        margin-right: 20px;
        cursor: pointer;
      }
      &__menu {
        display: block;
      }
      .order-button {
        margin-right: 20px;
        
      }
    }
}


.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.logo {
  width: 165px;
  height: 40px;
  margin-right: 200px;
}

.nav {

  &__item {

    &:hover {
      .nav__link {
        color: #FDC420;
        transition: 0.5s;
      }
      .dropdown {
        z-index: 99999;
        opacity: 1;
        visibility: visible;
      }

      &.nav__haschild {
        .nav__link {
          color: #FDC420;
          

          &:after {
            display: inline-block;
            padding: 3px;
            transform: rotate(-135deg);
            content: "";
            margin-left: 5px;
            border: solid #FDC420;
            border-width: 0 2px 2px 0;
          }
        }
      }
    }

    &.nav__haschild {
      cursor: pointer;

      .nav__link:after {
        display: inline-block;
        padding: 3px;
        margin-left: 5px;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        content: "";
        transition: 0.5s;

      }

    }

  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
  }
    @media (max-width: 1153px) {
      .nav__item {
        display: none;
      } 
    }
}


.dropdown {
  position: absolute;
  top: 50px;
  z-index: -999;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  list-style: none;
  transition: 0.3s;

  &__list {
    display: inline-block;
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    margin-left: -10px;
    background-color: #fff;
    border-radius: 5px;
  }

  &__link {
    padding: 10px;
    width: fit-content;
    color: var(--main-color);
    text-decoration: none;
    white-space: nowrap;
  }
}

.order-button {
  display: block;
  text-align: center;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  color: #fff;
  background: #FF7800;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  border:0;
  transition: 0.3s;

  &:hover {
    background-color: rgb(255, 175, 77);
    }
}


.main-form {
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  
  
  &__box {
    display: flex;
    align-items: center;
    padding: 60px 0;
  }

  &__image {
    width: 480px;
    height: 400px;

    &--ipad {
      display: none;
    }
  }

  &__title {
    display: block;
    align-items: center;
    width: 670px;
    font-size: 45px;
    line-height: 55px;
    font-style: normal;
    font-weight: 400;
    text-align: left;

    &--new-line {
      display: block;
    }
    &--highlight{
        color: #FDC420;
      }
  }

  @media (max-width:1153px) {
    &__box {
      flex-direction: column;
    }
    &__title {
      width:720px;
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 15px;

      &--highlight {
        display: none;
      }

      &--new-line {
        display: inline;
        &:before {
            content: "Research Paper ";
            font-style: normal;
            font-weight: 400;
            font-size: 35px;
            line-height: 40px;
            color: #FFC400;
          }
      }
     }

      &__image {
        display: none;

        &--ipad {
            display: block;
        }
      }
      
    }  

  }



.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--main-color);
  border-radius: 6px;

  &__select {
    padding: 15px;
    margin-right: 10px;
    background: #F2F9FF;
    border: 1px solid #E6F2FF;
    border-radius: 5px;
  }
  &__email {
    padding: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    background: #F2F9FF;
    border: 1px solid #E6F2FF;
    border-radius: 5px;
    
  }
  &__button {
    display: inline-block;
    padding: 15px 30px;
    width: 193px;
    height: 50px;
    font-family: 'Catamaran', sans-serif;
    cursor: pointer;
  }
  &__agree-terms {
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
    width: 630px;
  }

  @media (max-width:1153px) {
      flex-direction: column;
      background-color: red;
    
  }

}

select {
  color: #737B80;
}

option {
  color: #222526;;
}

option[default] {
  display: none;
}


.pages {
  padding: 15px 135px 0px;
  background: #E6F2FF;

  &__box {
    display: flex;
    justify-content: space-around;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__icon {
    margin-bottom: 10px;
  }

  &__item {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 35px;
    width: 220.08px;
    list-style: none;
    position: relative;

    svg path {
      transition: 0.3s;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 0px;
      content: "";
      transition: 0.3s;

    }
    &:hover {
      cursor: pointer;

      .pages__link {
        color: var(--second-color);
      }

      svg path {
        fill: var(--second-color);
      }
      &:after {
        border: 3px solid #1799E5;
      }
    }

  }

  &__link {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
  }


  @media (max-width:1153px) {
    &__box {
        display: flex;
        justify-content: space-around;
      }
  &__item {
    width: 116px;
    padding: 15px 0;
    margin-right: 35px;
  }

}
}


.rating {
  margin: 20px 0;

  &__box {
    display:flex;
    justify-content: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

  }
  &__platform {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 80px;
    color: var(--second-color);
  }
  &__stars {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }

  &__number {
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    color: var(--main-color);
  }
}

.experts__box {
  display: flex;
  flex-direction: column;
  margin: 60px;
}


.section-title {
  display: block;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 35px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

.writer{
  display: flex;
  justify-content: center;

  &__block {
    display: grid;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
    padding: 20px;
    width: 323.33px;
    height: 460px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
    border-radius: 7px;

    &:not(last-child) {
    margin-right: 30px;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 80px 190px;
    column-gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DFE6EB;
  }

  &__text {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  &__pic {
    height: 80px;
    border-radius: 5px;
  }
  &__name  {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: var(--main-color);
  }

  &__orders {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #222526;
  }
  &__stats {
    display: flex;
  }
  &__stars {
    width: 87px;
    height: 15px;
    margin-right: 10px;
  }
  &__rate {
    margin-right: 5px;
    font-size: 12px;
    line-height: 15px;
    color: var(--main-color);
    
  }
  &__reviews {
    font-size: 12px;
    line-height: 15px;
    color: #737B80;
  }
  &__expertize-block {
    display: grid;
    grid-template-columns: auto auto;
  }
  &__name-of-article {
    height: 50px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: var(--main-color);
    
  }
  &__main-types {
    font-size: 12px;
    line-height: 15px;
    color: #ACB8BF;
  }
  &__specialization {
    display: block;
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #222526;
    
  }
  &__sample-pic {
    position: relative;
    width: 125px;
    height: 180px;
    background-image: url(images/sample.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }
  &__sample-link {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 14px;
    line-height: 20px;
    color: var(--second-color);
    text-decoration-line: underline;
  }
  &__expertize-block--style-position {
    display: grid;
    grid-template-columns: auto auto;
  }
  &__button {
    padding: 15px 93px;
  }

  @media (max-width: 1153px) {
    .writer__block--hide-ipad {
      display: none;
    }
  }
}



.customers {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: #F2F9FF;
  }
}

.client {
  display: grid;
  grid-template-columns: 100px 620px;
  padding: 40px;
  margin: 30px auto;
  width: 800px;
  height: 215px;
  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 70, 111, 0.15);
  border-radius: 7px;

  &__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
  }

  &__image {
    margin-bottom: 5px;
  }
  
  &__date {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ACB8BF;
  }
  &__name {
    font-size: 14px;
    line-height: 15px;
    color: #00466F;
    margin-bottom: 5px;
  }

  &__comments {
    display: grid;
    grid-template-rows: auto auto;
    height: 86px;
  }
  &__evaluation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__website {
    margin-left: 15px;
  }

  &__verify {
    font-size: 14px;
    line-height: 20px;
    color: #61AC42;
    align-items: center;
  }
  &__comment {
    font-size: 16px;
    line-height: 25px;
    color: #222526;
  }
  &__button {
    display: inline-block;
  }
}

.order {
  text-align: center;

  &__box{
    padding: 60px;

  }
  &__steps {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }


  @media (max-width: 1153px) {
    &__steps {
      justify-content: center;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      gap: 30px;
    }

  }
}

.step {
  width: 270px;
  
  & :not(:last-child){
    margin-right: 30px;
  }

  &__list {
    list-style: none;
  }

  &__img {
    display: block;
    margin: auto;
  }
  &__name {
    margin: 15px auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--main-color);
    
  }

  &__explanation {
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    color: var(--main-color);
  }

  @media (max-width: 1153px) {
    width: 345px;
    height: 255px;
  }
}


.cost {
  padding: 60px;
  color: #FFFFFF;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);

  &__box {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
  
  &__heading {
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
  }
  &__depends {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 25px;
  }
  &__pay-method:not(:last-child){
    margin-right: 32px;
  }

  @media (max-width: 1153px) {
    &__box {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      justify-content: flex-start;
    }
    
    &__pay {
      margin-bottom: 30px;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.why-us {
  padding: 60px;
  background-color: #F2F9FF;
  color: #222526;
  &__list {
    display: flex;
  }

    @media (max-width: 1153px) {
      &__list {
        justify-content: center;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 60px;
      }
  
    }
}

.reason {
  width: 248px; 

  &:not(:last-child) {
    margin-right: 60px;
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__logo {
    margin-right: 15px;
    margin-bottom: 15px;
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #00466F;
  }

    @media (max-width: 1153px) {
      width: 330px;
  
    }
}

.trial {
  padding: 60px;
  background: #FFFFFF;
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__order {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
    color: #00466F;
  }
  &__page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-right: 110px;
  }
  &__page-number {
    color: #1799E5;
  }
  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #00466F;
  }
}

.assignment {
  padding: 60px;
  color: #FFFFFF;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);
  &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  &__title {
    color: #FFFFFF;
  }

  &__list  {
    display: flex;
    gap: 30px;
  }
}

.listing {
  margin-bottom: 30px;
  width: 303px;
  display: flex;
  justify-content: center;
  
  &__main {
    list-style: none;
    align-items: center;
    text-align: left;
  }
  &__unit {
    margin-bottom: 10px;
  }
  &__unit::before{
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    content: "•";
    color: #FDC420;
  }
}

.statistics {
  padding: 60px;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #1B99E5;
  background-color: #F2F9FF;

  &__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__main-text {
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    color: #1B99E5;
  }
  &__main-data {
    display: block;
    margin-bottom: 15px;
    font-size: 120px;
    line-height: 100px;
    text-align: center;
    color: #00466F;
  }

  &__groups {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }
  &__second-data {
    display: block;
    margin-top: 30px;
    font-size: 45px;
    line-height: 55px;
    color: #00466F;
  }
  &__second-text {
    margin-right: 30px;
  }

  @media (max-width:1153px) {
    &__block {
      flex-direction: column;
    }
    &__second-text {
      margin-right: 40px;
    }
  }
}

.service {
  padding: 60px;
  
  &__heading {
    margin-bottom: 15px;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: #222526;
  }
  &__button {
    margin-top: 15px;
    background-color: var(--second-color);
    

    &:hover {
      background-color: #115c88;
    }
  }
}

.faq {
  padding: 60px;
  background: #FFFFFF;

  &__item {
    margin-bottom: 5px;
    padding: 20px;
  }
}

.question {
  display: flex;
  justify-content: space-between;
  background: #F2F9FF;
  border: 1px solid #4DA6FF;
  border-radius: 7px;

  &__left {
    margin-right: 10px;
  }

  &__heading {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #00466F;
  }
  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #222526;
  }
}


.bottom-form {
  padding-top: 60px;
  background: linear-gradient(270deg, #298DCC 0%, #004F80 100%);

  &__box {
    display: flex;
  }
  &__img {
    margin-right: 40px;
    position: relative;
    bottom: -20px;
  }
  &__heading {
    display: inline;
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
  }

  @media (max-width:1155px) {
    &__box {
      display: flex;
      flex-direction: column;
    }
    &__title--visible {
      display: inline;
    }
    
  }
}

.footer {
  background-color: var(--main-color);
  padding: 40px 24px 20px;
  
}

.connection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  border-bottom: 1px solid #4E7288;

  @media (max-width: 1153px) {
    padding-top: 40px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 40px;
    border-bottom: 1px solid #F2F9FF;;
  }
}

.find-us {
  width: 262.5px;
  margin-right: 40px;
  &__title  {
    margin-bottom: 15px;
  }
  &__img {
    margin-right: 15px;
  }
}

.cards {
  width: 262.5px;
  margin-right: 40px;

  &__title {
    margin-bottom: 15px;
  }
  &__ways {
    width: 190px;
  }
  &__icon {
    margin-bottom: 14px;
    &:not(:nth-child(3n)) {
      margin-right: 15px;
    }
}

}
.dmca {
  width: 262.5px;
  margin-right: 40px;
}

.trusted {
  width: 262.5px;
  align-items: center;
  // padding-top: 40px;

  &__link {
    margin-right: 20px;
  }
  &__img {
    margin-bottom: 40px;
  }
}



.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #4E7288;

  @media (max-width:1155px) {
      border-bottom: 1px solid #F2F9FF;
  }
}
.list {
  width: 262.5px;

  &__link {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BFDFFF;
    margin-bottom: 10px;
  }
}

.law {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #ACB8BF
}

.cases {
    width: 565px;
    margin-right: 40px;

  &__heading {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
  }
    @media (max-width:1155px) {
      width: 213.33px;
    }
}

.terms {
  width: 262.5px;
  margin-right: 40px;

  &__line {
      margin-bottom: 1em;
    }
}

.we {
  &__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
  }
  &__link {
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BFDFFF;
    text-decoration: none;
  }
  
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}